:root {
	--aside-width: 24ch;
}
html, div, pre, script, code, textarea, p, ul, ol {
	scrollbar-width: thin;
}
/* body::-webkit-scrollbar {
} */
body{
	padding: 0;
	margin: 0;
	tab-size: 2;
}
aside {
  width: var(--aside-width);
  position: fixed;
  top: 0;
  bottom: 0;
  padding: .5rem;
  z-index: 99;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
}
main {
  margin: 0 1rem 2rem calc(2ch + var(--aside-width));
  box-sizing: border-box;
}
details script {
	display: block;
	padding: 0 .5rem;
	border: 1px solid #8e8f8f;
}
aside > ul {
	width: 100%;
}
.emoji {
	height: 1em;
	vertical-align: text-top;
	filter: drop-shadow(0 .1rem .2rem #808080);
}
form {
	padding: 1em 0;
}
form + details {
	margin-bottom: 4rem !important;
}
pre {
	overflow-y: auto;
	max-height: 10rem;
	background-color: #eee !important;
}
details script,
pre, code, pre,
textarea {
	white-space: pre-wrap;
	font-family: "Comic Mono" !important;
	line-height: 1.5;
	margin: .5rem 0 !important;
}
form input[type="text"] {
	font-family: "Comic Mono" !important;
	padding: 3px 4px 0 !important;
	margin-right: 1rem;
}
form label {
  line-height: 2;
}

html, body, h1,h2,h3,h4,h5,h6 {
	font-weight: lighter;
}
@font-face {
  font-family: "Comic Mono";
  src: url("/fonts/ComicMono.ttf");
	font-weight: normal;
}
@font-face {
  font-family: "Comic Mono";
  src: url("/fonts/ComicMono-Bold");
	font-weight: bold;
}
textarea {
	display: block;
	width: 100%;
}
[disabled] {
	pointer-events: none;
	opacity: .4;
	/* color: gray !important; */
}
input[name="name"] {
	min-width: 38ch;
}