@font-face {
  font-family: "iconfont"; /* Project id 3647848 */
  src: url('./iconfont.woff2?t=1663148228490') format('woff2'),
       url('./iconfont.woff?t=1663148228490') format('woff'),
       url('./iconfont.ttf?t=1663148228490') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rotate-min-right:before {
  content: "\e720";
}

.icon-rotate-min-left:before {
  content: "\e722";
}

.icon-link:before {
  content: "\e6f7";
}

.icon-restore:before {
  content: "\ec15";
}

.icon-move:before {
  content: "\e616";
}

.icon-done:before {
  content: "\e61c";
}

.icon-text:before {
  content: "\e61b";
}

.icon-cut:before {
  content: "\e74b";
}

.icon-clear:before {
  content: "\e7f6";
}

.icon-zoom-in:before {
  content: "\ec13";
}

.icon-zoom-out:before {
  content: "\ec14";
}

.icon-rotate-right:before {
  content: "\e66a";
}

.icon-rotate-left:before {
  content: "\e66b";
}

.icon-rect:before {
  content: "\e636";
}

