.exchange-container {
	height: calc(100vh - 180px);

	h6.title {
		display: inline-block;
		position: relative;
		top: 2px;
		padding: 0 8px;
		background-color: #fff;
		z-index: 1;
	}

	& > .col {
		height: 100%;

		.row.exchange-items {
			height: 100%;
			border: 1px solid rgba(0, 0, 0, 0.12);
			overflow-x: hidden;
			overflow-y: auto;

			.list-group {
				padding-left: 0;

				& > span {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					padding: 16px 0;
				}
			}
		}
	}
}
